* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#name {
  display: flex;
  gap: 20px;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 43%;
}

#poom {
  margin: 0 20px;
}

#yimyuean {
  margin: 0 20px;
}

h1 {
  font-size: 50px;
}

